.container
  .row
    .col-md-6.col-md-offset-3
      - @posts.each do |post|
        .post
          %h2= link_to post.title, post
          %p= post.content

      = link_to "New Post", new_post_path