/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

$white: #FFFFFF;
$text: #000000;
$link_text: #3e3737;

body {
	color: $text;
	a {
		color: $link_text;
	}
	a:hover {
		color: #2c91af;
		text-decoration: none;
	}
}

.wrapper {
	padding: 5rem 0 10rem;
	margin: 1rem 0 5rem;
}

.btn {
	a {
		color: #FFF;
	}
	a:hover {
		color: inherit;
	}
}

.post {
	padding: 2rem;
	border: 1px transparent;
	border-radius: 3px;
	transition: all 0.4s ease-in-out;
	a:hover {
		color: initial;
	}
	&:hover {
		box-shadow: 0px 2px 40px 0 rgba(0, 0, 0, 0.1)
	}
}

.best_alive {
	.blank {
		font-size: 4.5rem;
	}
	.choice {
		font-size: 5rem;
	}
}

.blank {
	color: gold;
}

.choice {
	color: red;
}

.author {
	font-weight: 700;
	.user {
		font-size: 3.25rem;
	}
}

.user {
	color: coral;
}

.content {
	font-size: 1.75rem;
	margin: 4rem 0;
    line-height: 1.5;
    letter-spacing: 0.5px;
}

.navbar {
	margin-bottom: 0;
	padding: 1rem 0;
	.navbar-header {
		.navbar-brand {
			font-size: 3rem;
		}
	}
	li {
		font-size: 1.75rem;
	}
}

.nav > li > a:hover, .nav > li > a:focus {
	background-color: inherit;
}

.icon-bar {
	background-color: $link_text;
}

#alert_alert {
	background: rgba(255, 215, 0, 0.87);
	width: 100%;
	z-index: 9999;
	position: absolute;
	.alert, .notice {
		color: $white;
		text-align: center;
		font-weight: bold;
		font-size: 2.5rem;
		padding: 1.35rem 0;
	}
}

textarea {
	resize: vertical;
}

.banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: $white;
  h1, h2, p {
    text-align: center;
    margin: 0;
    font-weight: 700;
    letter-spacing: 1px;
  }
  h1 {
  	padding: 8.5rem 0 6rem;
  	font-size: 5rem;
  }
  h2 {
  	font-size: 4rem;
  	padding: 8.5rem 0 7rem;
  }
  p {
  	font-size: 2rem;
  	font-weight: 400;
  	padding: 2.5rem 1rem;
  }
}

#welcome_banner {
	background-image: image-url('railway-station.jpg');
}

#new_banner {
	background-image: image-url('frog.jpg');
	padding: 2rem 0;
}

#edit_banner {
	background-image: image-url('potatoes.jpg');
}

#show_banner {
	background-image: image-url('leaf.jpg');
}

#sign_up_banner {
	background-image: image-url('dock.jpg');
}

#sign_in_banner {
	background-image: image-url('pier.jpg');
}

#account_banner {
	background-image: image-url('climbing.jpg');
}

#new_password_banner {
	background-image: image-url('desert.jpg');
}

#edit_password_banner {
	background-image: image-url('jurassic-coast.jpg');
}

footer {
	background-image: image-url('winter-sheep.jpg');
	color: $text !important;
}